@import url("https://fonts.googleapis.com/css?family=Monoton");

.division {
  display: flex;
  margin: 75px 0 75px 0;
}

.heading {
  text-align: center;
  font-family: "Monoton", Helvetica, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@supports (-webkit-background-clip: text) {
  .heading {
    color: transparent;
    background: linear-gradient(7deg, #5a5b5c 50%, #000000 0);
    -webkit-background-clip: text;
  }
}

.info {
  margin-bottom: 1%;
  margin-top: -3%;
  margin-left: 1%;
  text-align: justify;
  width: 35%;
  padding: 1%;
}

.materials {
  margin-bottom: 1%;
  margin-top: -3%;
  margin-right: 1%;
  padding: 1%;
  width: 100%;
  background-color: rgb(239, 239, 243);
  box-shadow: 0 3px 5px 2px gray;
  border-radius: 5px;
}
