/* Message Box */
.messageBox {
  background: #f3f3f3;
  border-radius: 0.9em;
  padding: 0% 1%;
  color: white;
  display: inline-block;
  max-width: 80%;
  height: fit-content;
}

/* Message text */
.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 0.9em;
  word-wrap: break-word;
  margin: 0.6em 0;
}

/* Message text image */
.messageText img {
  vertical-align: middle;
}

/* Message Container */
.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin-top: 3px;
}

/* Sent Text */
.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #8b8f8a;
  letter-spacing: 0.3px;
}

/* Frequently used styling features. */
.pl-10 {
  padding-left: 1%;
}

.pr-10 {
  padding-right: 1%;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundPurple {
  background: #9c2ab1;
}

.backgroundLight {
  background: #e44040;
}
