/* Form of chatbox  */
.form {
  display: flex;
  border: 2px solid #d3d3d3;
  margin-top: 1%;
}

/* Input question for chatbox  */
.input {
  border: none;
  border-radius: 0;
  padding: 1%;
  width: 85%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Send button  */
.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 2% 0;
  display: inline-block;
  border: none;
  width: 15%;
}
